.video-wrapper {
    padding-bottom: 56.25%;
    position: relative;
    overflow: hidden;
    margin-top: 1em;
    height: 0;
}

.video-wrapper iframe {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}